/*All custom styles go here*/

.header {
  display: table;
  margin: 10% 0 0 0 auto;
}

.tagline {
  display: table;
  padding-top: 6px;
  margin: 0 auto;
}

.post-title h1 small {
  font-size: 0.4em;
}

.post-subtitle {
  margin-top: 2%;
  margin-bottom: 2%;
}

#disqus_thread {
  margin-top: 10%;
}
