/*All custom styles go here*/
.header {
  display: table;
  margin: 10% 0 0 0 auto;
}

.tagline {
  display: table;
  padding-top: 6px;
  margin: 0 auto;
}

.author {
  margin-top: 10%;
}

.author .github-logo {
  height: 20px;
}


.author .github-avatar {
  height: 150px;
}

#disqus_thread {
  margin-top: 10%;
}
