/*All custom styles go here*/
.header {
  display: table;
  margin: 10% 0 0 0 auto;
}

.tagline {
  display: table;
  padding-top: 6px;
  margin: 0 auto;
}

.title_with_author h1 small {
  font-size: 0.4em;
}

#disqus_thread {
  margin-top: 10%;
}

