<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1 class="header">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <br>
            <small class="tagline">{{ site.tagline }}</small>
          </h1>
        </div>
      </div>

      <br><br><br>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
